<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baggage Check</title>
</head>
<body>
    <h1>Baggage Check</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Check Baggage</button>
    </form>
    
    {% if data == True %}
        <h2>API True</h2>
        <!-- <pre>{{ data }}</pre> -->
    {% endif %}
    {% if data == False %}
        <h2>API False</h2>
        <!-- <pre>{{ data }}</pre> -->
    {% endif %}
</body>
</html>
